@import '../../styles/variables';

.skills {
    background-color: #f6f6f6;
    color: black;
    padding: 6rem 0;
    text-align: center;

    & > div {
        @include container;
    }

    h2 {
        font-size: 2.6rem;
        margin: 0 0 2rem 0
    }

    h3 {
        font-size: 2.2rem;
        margin: 4rem 0 0 0;
    }

   
}

.icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

     i {
        font-size: 5rem;
        margin: 2rem;
    }
}